*{
  box-sizing: border-box;

}
.App {
  width: 85vw;
  margin: 0 auto;

}
.container div {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 5px;


}
.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}